
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#promo .video {
  width: 100%;
  position: relative;
}

#promo .hero-typed {
  margin: 0 -50px;
  padding: 50px 70px;
  min-height: 350px;
  border-radius: 60px;
  font-size: 30px;
  text-shadow: 0 0 10px  #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
#promo .hero-typed .hero-typed-strings {
  display: none;
}

@media (max-width: 767px) {
  .hero-unit-fullscreen-slider .slides {
    display: none;
  }
}
