
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#promo {
  position: relative;
}

#promo .video ,
#promo .video-still {
  width: 100%;
  position: relative;
}

#promo .hero-typed {
  position: absolute;
  top: 80px; right: 5%; left: 40%;
  padding: 20px 40px;
  min-height: 50%;
  border-radius: 40px;
  font-size: 30px;
  text-shadow: 0 0 10px  #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
#promo .hero-typed .hero-typed-strings {
  display: none;
}

@media (max-width: 767px) {
  #promo .video,
  #promo .hero-typed {
    display: none;
  }
}
@media (min-width: 768px) {
  #promo .video-still {
    display: none;
  }
}


.team .img-circle {
  width: 120px;
  height: 120px;
}